<p>編集</p>

<%= form_for(@post) do |f| %>
  <p><%= f.text_field :title, placeholder: "タイトルを入力してください。" %></p>
  <p><%= f.text_area :body, placeholder: "内容を入力してください。" %></p>
  <p><%= f.submit "投稿する" %></p>
<% end %>
